head
  title TicTacToe!
  link(rel="stylesheet", href="css/style.css")
  link(rel="stylesheet", href="css/normalize.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Reem+Kufi|Scope+One|Yatra+One|Montserrat|Raleway")
  link(rel="stylesheet", href="css/font-awesome.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

body
  #titlecard
    h1#title Tic Tac Toe
    .playerSelect#difficultywindow
      p Difficulty:
      button#selecteasy easy
      button#selectmedium medium
    .playerSelect#selectwindow
      p Choose your side:
      button#selectx X
      button#selecto O
    .playerSelect#gameOverWindow
      p#gameOverText You lose!
      i#replay.fa.fa-check
  .board
    .row
      .tile#1
      .tile#2
      .tile#3
    .row
      .tile#4
      .tile#5
      .tile#6
    .row
      .tile#7
      .tile#8
      .tile#9

script(src="js/tictactoe.js")
script(src="https://code.jquery.com/jquery-3.1.1.min.js")